@media only screen and (min-width: 64rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .intro {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        margin-bottom: 30px;
        height: 400px;
    }

    .grid-view {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .form-container {
        grid-template-columns: 2fr 1fr;
    }

    .membership-cards {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 1.6rem;
    }

    .confirmation h2 {
        font-size: 1.4rem;
    }

    .place-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* centers horizontally */
        text-align: center;
        /* centers text */
        padding: 1rem;
    }
    .place-card img {
        width: 300px;

    }

}