@media only screen and (min-width: 38rem) {

    .place-card {
        display: grid;
        grid-template-areas:
            "photograph name"
            "photograph description"
            "photograph location"
    }
    .place-card img {
        grid-area: photograph;
        width: 300px;
        height: auto;
        object-fit: cover;
    }


}